@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Regular.woff2') format('woff2'),
         url('/fonts/Satoshi-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Satoshi', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    caret-color: transparent;
    font-family: Satoshi, sans-serif;
}

.header {
    max-width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding-left: 250px;
    padding-right: 250px;
    filter: none;
}

.header img.logo {
    max-width: 100%;
    max-height: 40px;
    width: auto;
    margin-left: 60px;
}

body.dark-mode .logo {
    filter: invert(100%) brightness(100%);
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 16px;
    color: rgb(41, 38, 38);
    font-weight: 700;
    text-decoration: none;
    margin-right: 40px;
    position: relative;
    transition: color 0.3s;
}

.navbar a:last-child {
    margin-right: 0;
}

.navbar a:hover,
.navbar a.active {
    width: auto;
    color: #db6161;
}


.navbar .darkmode {
    width: 40px;
    height: 40px;
    filter: none;
    padding-top: 4px;
}

body.dark-mode .darkmode {
    filter: invert(100%) brightness(100%);
}

body.dark-mode {
    background-color: #333333;
    color: #ffffff;
}

body.dark-mode .header {
    background-color: #333333;
}

body.dark-mode .navbar a {
    color: #ffffff;
}

body.dark-mode .navbar a:hover,
body.dark-mode .navbar a.active{
    color: #db6161;
}

